{% extends 'base.html' %}

{% block content %}

{% if ticket_form.errors or review_form.errors %}
    <div class="alert alert-danger">
        <strong>Errors detected:</strong>
        <ul>
            {% for field, errors in ticket_form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for field, errors in review_form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<!-- Form for creating a ticket and review -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Ticket section -->
    <p>Book/Article</p>
    
    {% include '_ticket_form.html' %}
    
    <!-- Review section -->
    <h2>Review</h2>
    {% include '_review_form.html' %}
    
    <!-- Submit button -->
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</form>

{% endblock %}