{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card mb-3 rounded-0">
    <h2 class="text-center">Créer une critique</h2>
    <div class="container">
        <!-- Include the ticket being reviewed -->
        {% include '_review_asked.html' %}
        <div class="card mb-3 rounded-0">
            <div class="card-body">
                <h3>Critique</h3>
                <!-- Review creation form -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Include the review form -->
                    {% include '_review_form.html' %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Publier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}