{% extends 'base.html' %}
{% block content %}
<div class="custom-container">
    <h2 class="text-center">Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Titre</label>
            <input type="text" name="title" id="{{ form.title.id_for_label }}" class="form-control w-100" value="{{ form.title.value|default:'' }}">
        </div>
        
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
            <textarea name="description" id="{{ form.description.id_for_label }}" class="form-control w-100" rows="6">{{ form.description.value|default:'' }}</textarea>
        </div>
        
        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label d-block">Image</label>
            {{ form.image }}
        </div>
        
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Publier</button>
        </div>
    </form>
</div>
{% endblock content %}
