{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
    <div class="auth-row">
        <!-- Colonne Inscription (à gauche) -->
        <div class="auth-column">
            <h2>Inscription</h2>
            <p>Inscrivez-vous maintenant</p>
            <a href="{% url 'signup' %}" class="btn btn-success auth-btn">S'inscrire</a>
        </div>

        <!-- Colonne Connexion (à droite) -->
        <div class="auth-column">
            <h2>Connexion</h2>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    {{ form.username }}
                </div>
            
                <div class="mb-3">
                    {{ form.password }}
                </div>
            
                <button type="submit" class="btn btn-success auth-btn">Se connecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}